:root {
    --dark-background-color: #3a3b3e;
    --dark-background-color2: #29282b;
    --card-background-color: #211f1f;
    --white-smoke: whitesmoke;
    --black: black;
    --primary-color: #ffd437;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-background-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-background-color2);
    padding: 1.6rem 2.8rem;
    margin: 0 1rem;
    border-radius: 0 0 1.6rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--white-smoke);
}

.logo svg {
    width: 3.2rem;
}

.logo span {
    font-size: 2.8rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 0.8rem;
}

.options a {
    color: var(--white-smoke);
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 2rem;
}

.options a:hover {
    font-size: 2rem;
    color: var(--primary-color);
}

main {
    max-width: 100rem;
    min-height: 90vh;
    margin: 2rem auto;
    padding: 0.4rem 2rem 4rem;
    background-color: var(--dark-background-color2);
    border-radius: 1.6rem;
}

.text-section {
    color: var(--white-smoke);
    font-size: 1.6rem;
    margin: 2.4rem 0 4rem;
}

.text-section h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.text-section p {
    font-size: 2rem;
    margin-bottom: 6.4rem;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3.2rem;
}

.card {
    background-color: var(--card-background-color);
    width: 30rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 2rem var(--black);
    overflow: hidden;
    padding-bottom: 0.8rem;
}

.card:hover {
    box-shadow: 0 0.2rem 2rem var(--dark-background-color);
}

.card .tag-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 2rem;
}

.card .tag {
    padding: 0 1rem;
    color: var(--card-background-color);
    border-radius: 1.2rem;
    width: fit-content;
    background-color: #4f5158;
}

.tag-container span {
    font-size: 1.2rem;
    line-height: 2rem;
}

.tag-container .tag-technologies {
    display: flex;
    gap: 4px;
}

.tag-container .tag-technologies .tag {
    padding: 0 0.5rem;
}

.tag-container .tag-technologies .tag-html {
    background-color: #e44d25; /* oscuro #e44d25 | claro #f16629 */
}

.tag-container .tag-technologies .tag-css {
    background-color: #0370b9; /* oscuro #0370b9 | claro #28a8df */
}

.tag-container .tag-technologies .tag-js {
    background-color: #efd819;
}

.card .responsive {
    background-color: var(--primary-color);
}

.card img {
    width: 100%;
    min-height: 12.55rem;
    object-fit: cover;
}

.card a {
    text-decoration: none;
    color: var(--white-smoke);
}

.card h2, .card p{
    margin: 3rem 2rem;
}

@media (max-width: 1020px) {
    main {
        margin: 2rem 1rem;
    }
}

@media (max-width: 659px) {
    
    .cards-container {
        justify-content: center;
    }

    .options a {
        font-size: 1.4rem;
        margin-left: 1.2rem;
    }
    
    .options a:hover {
        font-size: 1.6rem;
    }
}

@media (max-width: 440px) {
    .options {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}